h2{
    text-align: center;
}
.form{
    border: 1px solid black;
    width: 420px;
    border-radius: 10px;
    margin: 10px auto;
    background-color: rgba(130, 129, 129, 0.078);
}
.block{
    display: block;
    margin-left: 20px;
    width: 80%;
    height: 25px;
    
}
.padding{
    padding-left: 10px;
}
.bottomspace{
    padding-bottom: 15px;
}


.btn{
    background-color: green;
    color: white;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
}
.reset{
    margin-left: 50px;
    cursor: pointer;
}
.leftmargin{
    text-align: center;
    margin:20px auto;
}
.red{
    color: red;
}
.bspace{
    margin-bottom: 20px;
}
input.ng-invalid.ng-touched{
    border:1px red solid;
    border-radius: 5px;
}
.addbutton{
    margin: 15px ;
    background-color: blanchedalmond;
    border-radius: 5px;
    cursor: pointer;
 }
 
 .childcomponent{
   display: flex;
   justify-content: space-around;
 }
 .Closebutton{
   margin-top: 20px;
   margin-bottom: 20px;
 }
 
 