<span class="submit"> Sucessfully Submitted...!</span>
<div class="userdetails">
    
    <h2>The User Details </h2>
    <!-- <div class="forflex">
    <div class="filed">
        <fieldset> 
            <legend> Personal Information </legend>
            <p>Name:</p>
            <p><span>Age:</span></p>
            <p><span>User Name: </span></p>
            <p><span>Email:</span></p>
            <p><span>Phone no: </span></p>
        </fieldset>
       
    </div>
    <div class="filed">
        <fieldset>
        <legend> Aditional Information </legend>
            <p><span>Label:</span></p>
            <p><span>Value:</span></p>
        </fieldset>  
    </div>
    </div>
         -->
         <div class="forflex">
            <fieldset>
                <legend> Personal Information </legend>
                <table>
                    <!-- <legend> Personal Information </legend> -->
                    <tr>
                        <th>S.No</th>
                        <th>Name</th>
                        <th>Username</th>
                        <th>Age</th>
                        <th>email</th>
                        <th>Phone Number</th>
                    </tr>
                    <tr *ngFor="let information of allUserDetails ; index as i">
                        <td>{{i+1}}</td>
                        <td>{{information.firstname}}  {{information.lastname}}</td>
                        <td>{{information.Username}}</td>
                        <td>{{information.age}}</td>
                        <td>{{information.email}}</td>
                        <td>{{information.phnno}}</td>
                    </tr>
                 </table>
            </fieldset>
         
                 <div class="forflex">
            <fieldset>
            <legend> Aditional Information </legend>
                <tr *ngFor="let aditioninformation of additionalData ; index as i">
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            </fieldset>  
        </div>
    </div>

    </div>
    <!-- <button (click)="clearthedetails()">Clear</button> -->

